<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
</head>
<body class="bg-dark">
    <nav class="navbar">
        <div class="container ">
          <a class="navbar-brand text-light fs-4 fw-bold" href="#">APMDb</a>

          <button class="btn btn-outline-light"> Pagina Inicial</button>
        </div>
      </nav>

    <div class="container d-grid gap-3" id="container">
        <h1 class="fs-1 fw-bold text-warning" >Filmes Em Alta</h1>    
    </div>

</body>
</html>